asgiref 
certifi
chardet
click
dataclasses
Django 
Flask
idna
itsdangerous
Jinja2
MarkupSafe
mkl-fft
mkl-random
mkl-service
Naked
numpy 
paho-mqtt==1.5.1
protobuf
psycopg2
pycryptodome
pyserial
pytz
PyYAML
requests
shellescape
six
sqlparse
urllib3
Werkzeug
opencv-python

